{% extends 'vtc/list.html' %}

{% block columns %}
    <tr>
        <th scope="col">Nro</th>
        <th scope="col">Nombre</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Medida</th>
        <th scope="col">Fecha de expiración</th>


    </tr>
{% endblock %}

{% block rows %}
    {% for i in object_list %}
        <tr>
            <td>{{ i.id }}</td>
            <td>{{ i.name }}</td>
            <td>{{ i.amount }}</td>
            <td>{{ i.measure }}</td>
            <td>{{ i.date_expiration }}</td>
            <td>
                <a href="{% url 'erp:insumo_update' i.id %}" class="btn btn-warning btn-xs"><i class="fas fa-edit"></i>
                </a>

                <a href="{% url 'erp:insumo_delete' i.id %}" class="btn btn-danger btn-xs"><i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}